
<section class="secretheight">
<form action="/login" method="POST" id="form">
    <h2>Login</h2>

    <label for="email">Email</label>
    <input class="pruebaInput" type="text" name="email">

    <label for="password">Password</label>
    <input class="pruebaInput" type="password" name="password"> 

    <button class="submitSigUp">Sign in</button>

    {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    <p class="account-message"> Don't have an account? <a href="/signup">Sign up</a>
    </p>
</form>

</section>
