
<section class="secretheight">
     <h2 class="h2signup">Login</h2>
    <div class="secretRoi">
<form action="/login" method="POST" id="form">
    

    <label for="email">Email</label>
    <input class="pruebaInput" type="text" name="email">

    <label for="password">Password</label>
    <input class="pruebaInput" type="password" name="password"> 

    <button class="submitSigUp"><p class="textSing">Sign in</p></button>

    {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}

    <p class="account-message"> Don't have an account? <a href="/signup">Sign up</a>
    </p>
</form>
</div>
</section>
