<form id="form" action="/signup" method="POST">
            <h2>Sign Up</h2>
   
   
 <label for="nombre" >Nombre </label>
  <br />

  <input class="pruebaInput" type="string" name="nombre" placeholder="your name" />
  <label for="email">Email</label>
  <br />

  <input class="pruebaInput" type="email" name="email" placeholder="Your email" />

  <label for="password">Password</label>
  <br />

  <input class="pruebaInput" type="password" name="password" placeholder="********" />

  <button class="submitSigUp" type="submit">Create account</button>
</form>

{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}

 