<section class="secretheight">
  <h2 class="h2signup">Sign Up</h2>
  <div class="secretRoi">
<form id="form" action="/signup" method="POST">
 <label for="nombre" >Nombre </label>
  <br />

  <input class="pruebaInput" type="string" name="nombre" placeholder="your name" />
  <label for="email">Email</label>
  <br />

  <input class="pruebaInput" type="email" name="email" placeholder="Your email" />

  <label for="password">Password</label>
  <br />

  <input class="pruebaInput" type="password" name="password" placeholder="********" />

  <button class="submitSigUp" type="submit"><p class="textSing">Create account</p></button>
</form>
</div>
{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}
</section>
 