
<p> Bienvenido  A iFogo </p>

<p> La aplicacion de Food-to-Go que tanto buscabas  </p> 


<form id ="buscadorPrincipal" action="/buscadorPrincipal" method="GET">

<label for="buscador"></label>
<input type="text" name ="buscador" value="" id=""> 
<button class="boton-Buscador"> Buscar </button>
 </form>

 {{#each data}}
    <p>{{this.Email}}</p>
 {{/each}}