<section class="secretheight">
<img class="logofoogo" src="images\foogo_logo.png">
<div class= "textoBienvenida">
<p>
   ¡Bienvenido A FooGo!<br>
   Busca tus restaurantes por estilo de comida:
    Rápida, Internacional, Parrilla, Asiatica, Sushi  y más !!
 </p>
{{#if isUserLoggedIn}}

  <h2> Bienvenido, {{currentUserInfo.nombre}}</h2>

{{/if}}
 </div>
<div class="textoSignUpLogIn"> 
{{#if message }}
<div class="welcome-message">Thanks for Signing Up {{message}}! You can log in! </div>
{{/if}}

{{#if errorMessage }}
<div class="error-message">{{ errorMessage }}</div>
{{/if}} 
</div>
<div class = "buscador ">
<form id="buscadorPrincipal" action="/buscadorPrincipal" method="GET">

    <label for="buscador"> </label>
    <input type="text" name="buscador" value="" id="buscador">
    <button class="boton-Buscador"> Buscar </button>
</form>
 </div>






<div class="restaurantesTotal"> 

 {{> restacard}}

  
</div>
<div class="mensajefinalindex" > 
<p class="vendes"> Vendes comida Take Away y deseas Colaborar ? </p>
<a href="./restaurantes" class="colaborar"><p class="colaborarTexto">haz click aqui</p></a>

 </div>

 </section>
