<!DOCTYPE html>
<html>

<head>
  <title>My app</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />


</head>

<body>
  <nav>
    <div class="wrapper">
      <a href="/">Home</a>
      {{#if isUserLoggedIn}}
      <a href="/secret">Mis Compras</a>
      <a href="/logout">Logout</a>
      {{else}}
      <a href="/signup">Sign up</a>
      <a href="/login">Login</a>
      {{/if}}
    </div>
  </nav>
  <div class="container">
    {{{body}}}
  </div>

  <footer class="footer">  
      <p> FOOGO | 2020 </p>
      <p> Creada por : Alex Alexandre y Roi Cid
                      


      </p>

    

  </footer>
</body>


</html>
