<p>   Vendes Comida Take Away  y deseas colaborar? </p>
<h3> Sube tu negocio a nuestra Base de Datos y preparate! </h3>
 

<form action="/restaurantesform" method="POST" id="formRestaurantes" >
    <label for="Nombre">Nombre </label>
    <input id ="Nombre" type="text" name="Nombre">

    <label for="Email">e-mail </label>
    <input  id ="Email" type="text" name="Email">

    <label for="Direccion">direccion</label>
    <input id="Direccion"type="text" name="Direccion"> 

    <label for ="url"> PAGINA WEB? </label>
    <input id="URLReal" type="url" name ="URLReal" placeholder="www.example.com" > 

    <label for="fotos" > Subir una Foto</label>
    <input id="Foto1" type ="file"name="Foto1" accept="image/png, image/jpeg" >

    

    <button>Subir Datos</button>

    {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
    {{/if}}


</form>