* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
  
}
.secretheight{
  min-height:  80vh;
  
}
a {
  color: #00b7ff;
}

#form {
  margin: 50px auto;
  width: 380px;
}

#form h2 {
  margin-bottom: 30px;
  text-align: center;
}

#form label {
  color: #666;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}


#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  margin-bottom: 20px;
}

#form button {
  background: #b3001a;
  border: 1px solid #43a3e6;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #43a3e6;
  transition: 0.3s ease background;
}
/* PRUEBA INPUT */

.pruebaInput{
  width: 400px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 5px;
}

.submitSigUp{
  margin: 40px 0 0 10px;
}

.error-message {
  background: #f02b63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

nav {
  background: #262626;
  padding: 25px 0;
}

nav .wrapper{
  padding-left: 50px;
}

nav .wrapper a{
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
  opacity: 0.8;
}

nav .wrapper a:hover{
  opacity: 1;
}

.container{
  margin: 50px;
}

/* NOSOTROS */

.logofoogo{
  width: 25%;
  margin: -20px auto 0 auto;
  display:block
}
.textoBienvenida{
  width: 30%;
  text-align: center;
  margin: 0 auto 2% auto;
  display:block;
  line-height: 30px;
  font-size: 14pt;
}


.mensajefinalindex{
  width: 40%;
  text-align: center;
  margin: 5% auto 1% auto;
}
.mensajefinalindex > a {
  text-decoration: none;
  font-size: 1.5em;
  color: #b3001a;
}
.colaborar{
  margin-top: 10%;
}
/* RestaCard partial */

.individual{
  border: 1px solid #000;
  width: 30%;
  margin: 30px auto 20px auto;
  padding: 10px;
  border-radius: 10px;
}

.imagecaja{
  width: 200%;
  margin: 0 0 0 25%;
}

.infoCaja{
  text-align: center;
}

.formCaja{
  margin-left: 35%;
}

.imageone{
  width: 25%;
}
#cajabienvenida{
  display :flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  font-size: large;
}


/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 1% 20px;
  background-color: #262626;
  color: rgb(255, 255, 255);
  
 

}

.boton-Buscador{
  width: 10%;
  background-color: #262626;
  padding: 1% 1% 0.4% 0.6%;
  color: #fff;
  border-radius: 9px;
  margin: 0 0 0 0;
  font-size: 1.2em;

}
#buscador{
  width: 50%;
  padding: 0%;
  text-align: center;
  margin: -5% auto 0 20%;
  font-size: 2rem;
 border: 1px solid black;
 border-radius: 10px;
}

/* FORM RESTAURANTES COLABORAR */
.agreRestaurantes{
  margin: 0 0 0 20%;
}
.restaurantes{
  background-color: #fff;
  width: 19%;
  margin: 8% 30%;
}

.tarjeta{
  margin-left: 30%; 
}

/* IMAGEN COLABORAR */
.imagenRestauranteAdd{
  width: 30%;
}

/* MEDIA QUERY IPHONE  */

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  .logofoogo{
    width: 100%;
  }
  .footer{
   height: 18vh;
  }
  footer > p{
    font-size: 3em;
    text-align: center;
    margin: 5% 0 0 0;
  }
  .vendes{
    font-size: 3em;
    
  }
  .colaborarTexto{
    font-size: 2em;
  }

  .boton-Buscador{
    width: 10vh;
    height: 4vh;
    font-size: 2em;
  }
  #buscador{
    height: 4vh;
    font-size: 3em;
    color: #b3001a;
  }
  nav{
    height: 8vh;
    font-size: 3em;
    text-align: center;
  }
  .wrapper{
    margin: 3% 0 0 0;
  }

  .textoBienvenida{
    width: 100%;
    font-size: 3.6em;
    line-height: 1em;
  }
  .textoBienvenida > h2 {
    font-size: 1.5em;
    font-weight: 300;
  }
  /* .secretheight{
    width: 100vh;
    height: 100vh;
  } */
  .individual{
    width: 50%;
  }
  .revisa{
    font-size: 2em;
    text-align: center;
  }

  /* FORM RESTAURANTES ADD */
  .restaurantes{
    width: 4vh;
    
   
  }
  #formRestaurantes{
    width: 25vh;
    height: 18vh;
    font-size: 4em;
    margin-left: -140%;
    line-height: 180%;
  }
  #formRestaurantes > input{
    border: 1px solid #000;
    border-radius: 20px;
  }
  #formRestaurantes > .btn{
    margin-bottom: -10%;
    margin-left: 35%;
   
    height: 100px;
    width: 300px;
    font-size: 1em;
  }
  .agreRestaurantes{
    margin-bottom: -40px;
    margin-left: 35px;
  }

  .agreRestaurantes > h3{
    font-size: 3.5em;
  }
  .agreRestaurantes > p{
    font-size: 2.8em;
  }
  #form{
    margin-top: 30%;
  }
  .secretheight{
    overflow: hidden;
  }

  .secretRoi{

   font-size: 4rem;
  }
  .secretRoi > form > input{
    height: 80px;
    width: 120%;
  }
  .submitSigUp{
    height: 100px;
    font-size: 3rem;
    margin: 0 0 0 30px;
  }
  .textSing{
    font-size: 2em;
  }
  .h2signup{
    font-size: 3em;
    text-align: center;
    margin: 30px 0 0 0;
  }
  .account-message{
    text-align: center;
  }
}